* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #272727;
    display: flex;
    justify-content: center;
}

body {
    /* font-family: fantasy, Times, serif; */
    font-family: Times;
    background-image: url('source/img/priroda-gory-skaly-oblaka-nebo-zakat.jpg');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.header {
    display: flex;
    width: 100%;
    background-color: rgb(46, 46, 46);
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}

.profile {
    display: flex;
    justify-content: center;
}

.header #user {
    cursor: pointer;
    width: 40px;
    height: 40px;
    position: relative;
}

#auth {
    /* display: ; */

    background-color: #272727;
    top: 70px;
    /* right: 10px; */
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #dddbdb;
    padding: 20px 15px;
    border-radius: 12px;

    gap: 5px;
}

#auth p {
    cursor: pointer;
}

.main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.square {
    margin: 40px 0;
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #272727;
    max-width: 1300px;
    /* min-width: 720px; */
}

@media (max-width: 720px) {
    .square {
        width: 100%;
    }
}

.main-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;

    width: 100%;
    justify-content: center;
    padding: 20px;

    list-style-type: none;
    background-color: rgb(90, 90, 90);
}

.main-menu li a {
    font-family: 'Ubuntu Condensed', sans-serif;

    color: #dddbdb;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: 600;

    transition: .3s;
}

.main-menu li a:hover {
    color: rgb(196, 94, 68);
}

.content__main {
    width: 92%;
    display: flex;
    flex-wrap: wrap;
}

.content__main .main-text {
    padding: 10px 0;
    width: 100%;
}

.new-releases {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.title-nr {
    width: 100%;

    color: rgb(167, 167, 167);
    padding-bottom: 3px;
    border-bottom: solid 5px rgb(196, 94, 68);

    font-size: 21px;
}

.nr-cards {
    padding: 20px 0;
    width: 100%;

    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.nr-cards::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.nr-cards::-webkit-scrollbar-track {
    background: rgb(90, 90, 90);
    border-radius: 99px;
}

.nr-cards::-webkit-scrollbar-thumb {
    background-color: rgb(196, 94, 68);
    width: 4px;
    border-radius: 99px;
}

.nr-cards img {
    width: 230px;
    height: 230px;
    object-fit: cover;

    border-radius: 10px;
}

.nr-cards p {
    color: rgb(204, 146, 117);
}

.nr-cards span {
    /* width: max-content; */
    color: rgb(168, 167, 167);
}

.chart > div {
    color: rgb(167, 167, 167);
    display: grid;
    grid-template-columns: auto auto;
    align-content: center;
    grid-gap: 10px;

    justify-content: start;
    align-items: center;
}

.chart {
    
}

.chart > div > div > span {
    color: rgb(204, 146, 117);
}

.chart-title {
    width: 100%;

    color: rgb(167, 167, 167);
    padding-bottom: 3px;
    border-bottom: solid 5px rgb(196, 94, 68);

    font-size: 21px;
}
.chart img {
    width: 60px;
    height: 60px;
    border-radius: 10px;

    object-fit: cover;
}

.empty-line {
    border-bottom: solid 5px rgb(196, 94, 68);
    width: 100%;
    height: 5px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(46, 46, 46);
    /* background-color: #272727; */
    color: rgb(168, 167, 167);

    height: 70px;
    width: 100%;
}

#fakeImg {
    z-index: 10;
}

@media (max-width: 1600px) {
    .nr-cards {
        overflow-x: scroll;
        justify-content: flex-start;
    }

    .new-releases {
        padding-bottom: 20px;
    }
    
}